# https://docs.npmjs.com/using-npm/developers.html#keeping-files-out-of-your-package
bin/
coverage/
docker-compose.yml
Dockerfile.d/
.env
.eslintrc.json
.github/
.gitignore
.gitmodules
jest.config.json
node_modules/
.npmignore
__tests__/
tsconfig.json
src/
webpack.config.js
